.row>div{
    border: 3px solid black;
    text-align: center;
}
.row{
    padding: 20px;
    margin: 20px;
}
.col-md-4{
    background-color: grey;
    height: 250px;
    padding: 20px;
    padding-top: 3%;
    font-weight: bold;
    display: block;
}
#title{
    text-align: center;
}

#chicken{
    float: right;
    background-color: blanchedalmond;
    width: 50%;
    border: 3px solid black;
    position: absolute;
    top:0;
    right:0;
}
#beef{
    float: right;
    background-color:brown;
    width: 50%;
    border: 3px solid black;
    position: absolute;
    top:0;
    right:0;
    color: #F0F0F0;
}

#suchi{
    float: right;
    background-color: burlywood;
    width: 50%;
    border: 3px solid black;
    position: absolute;
    top:0;
    right:0;
}


@media(min-width:992px)
{
    .col-md-4{
        width: 80%;
    }
}
@media(min-width:768px) and (max-width:991px)
{
    .col-md-4{
        width: 100%;
        padding-top: 110px;
    }
    .col-md-6{
        clear: left;
    }
}
@media(min-width:367px)
{
    .col-md-4{
        width: 100%;
        padding-top: 50px;
    }
}
